html, body {
    font-family: system-ui;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

.primary {
    background-color: $primary-color;
    border: none ;
}

@media (max-width:$tablet) {
    main.columns{
        margin: 0;
    }
}
