main.columns:last-child{
    margin-bottom: 15px;
}

.collapsed{
    display: none;
}
.filter-button{
    display: none;
    @media (max-width: $tablet) {
         display: block;
         margin-bottom: 10px;
    }
}
.filter-wrapper{
    @media (max-width: $tablet) {
        display: none;
   }
}
