main.columns:last-child{
    margin-bottom: 15px;
}

.primary-color{
    background-color: #ed5234 !important;
    border: none ;
}

.collapsed{
    display: none;
}
.social{
    font-size: 1.6em;
}
.fb {
    color: #3a5a97;
}
.inst{
    color:#ae158a
}
.tg{
    color: #43b0e5
}
.vib{
    color: #a053c6;
}



@media (max-width:600px) {
    main.columns{
        margin: 0;
    }
    .filter{
        display: none; 
    }
    .filter.open{
        display: block;
    }
}